<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Voting_Platform.Properties.Settings.VOTING_PLATFORMConnectionStringPARTY"
            connectionString="Data Source=RYZEN-3;Initial Catalog=VOTING_PLATFORM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>